body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
li {
    font-size: larger; /* ポイントサイズを大きめに設定 */
}
header {
    background: #333;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: #0779e4 3px solid;
}
header h1 {
    text-align: center;
    margin: 0;
}
.main-content {
    background-color: #f4f4f4;
    padding: 20px;
    min-height: 400px; /* Adjust based on content */
}
input[type="text"], select {
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}
button[type="submit"] {
    background-color: #0779e4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: transform 0.5s, opacity 0.5s; /* トランジションを追加 */
}
button[type="submit"]:hover {
    background-color: #0056b3;
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
footer p {
    margin: 0;
}
